<div class="mb-auto">
  <ngb-carousel [interval]="3000" [pauseOnHover]="true">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <!-- Chart 1 -->
        <app-my-chart></app-my-chart>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <!-- Chart 2 -->
         <canvas
          baseChart
          [data]="ChartData"
          [options]="ChartOptions"
          [type]="'pie'"
          width="700px"
          height="200px"
        >
        </canvas>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <canvas
          baseChart
          [data]="ChartData"
          [options]="ChartOptions"
          [type]="'line'"
          width="700px"
          height="200px"
        >
        </canvas> 
      </div>
    </ng-template>
  </ngb-carousel>
</div>