<div class="mb-auto container shadow p-5 bg-body-tertiary rounded">
  <p class="text-muted">Simulation Analytics</p>
  <hr class="text-muted" />

  <ngb-carousel [interval]="3000" [pauseOnHover]="true">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">

        <!-- Chart 1 -->
        <app-my-chart></app-my-chart>

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <!-- Chart 2 -->

        <app-pie-chart></app-pie-chart>

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">

        <!-- Chart 3  <chart [input]="Simulations">-->
        <app-fin-chart [Simulations]="Simulations" />

      </div>
    </ng-template>
  </ngb-carousel>
</div>
