<div class="p-5 shadow bg-body-tertiary rounded">
  <div class="form-group text-secondary">
    <label for="FormControl">Filters</label>
    <hr />
    <!-- "d-flex flex-row-reverse  -->
    <div ngbDropdown class="d-grid gap-2 g-col-4">
      <button
        type="button"
        class="btn btn-outline-secondary btn-block"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ layoutSelection?.name || "Layout Filter" }}
      </button>
      <div ngbDropdownMenu style="width: 100%" aria-labelledby="dropdownBasic1">
        <button
          (click)="selectLayout(layout)"
          ngbDropdownItem
          *ngFor="let layout of Layouts"
          [value]="layout.name"
        >
          {{ layout.name }}
        </button>
        <button (click)="selectLayout()"
        ngbDropdownItem>All</button>
      </div>
    </div>
  </div>
  <br />
  <div ngbDropdown class="d-grid gap-2 co">
    <button
      type="button"
      class="btn btn-outline-secondary btn-block"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      {{ rulesetSelection?.name || "Ruleset Filter" }}
    </button>
    <div ngbDropdownMenu style="width: 100%" aria-labelledby="dropdownBasic1">
      <button
        (click)="selectRuleset(ruleset)"
        ngbDropdownItem
        *ngFor="let ruleset of Rulesets"
        [value]="ruleset.name"
      >
        {{ ruleset.name }}
      </button>
      <button (click)="selectRuleset()"
      ngbDropdownItem>All</button>
    </div>
  </div>
</div>
