<div class="p-5 shadow bg-body-tertiary rounded">
  <div class="form-group text-secondary">
    <label for="FormControl">Filters</label>
    <hr />
    <!-- "d-flex flex-row-reverse  -->
    <form ngbDropdown class="d-grid gap-2 g-col-4">
      <button
        type="button"
        class="btn btn-outline-secondary btn-block"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ powersselection || "Layout Filter" }}
      </button>
      <div ngbDropdownMenu style="width: 100%" aria-labelledby="dropdownBasic1">
        <button
          (click)="selections(pow.name)"
          ngbDropdownItem
          *ngFor="let pow of Layouts"
          [value]="pow.name"
        >
          {{ pow.name }}
        </button>
      </div>
    </form>
  </div>
  <br />
  <form ngbDropdown class="d-grid gap-2 co">
    <button
      type="button"
      class="btn btn-outline-secondary btn-block"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      {{ rulesetselection || "Ruleset Filter" }}
    </button>
    <div ngbDropdownMenu style="width: 100%" aria-labelledby="dropdownBasic1">
      <button
        (click)="selection(pow.name)"
        ngbDropdownItem
        *ngFor="let pow of Rulesets"
        [value]="pow.name"
      >
        {{ pow.name }}
      </button>
    </div>
  </form>
</div>
