<main class=" d-flex flex-nowrap" style="height:fit-content; min-height: 100%;" >
  <app-sidebar class="col-sm-3 col-12 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar sticky-top"
  style="max-width: 280px; height: 100vh;"></app-sidebar>
  
  <div class="container p-4">
    <div class="row g-4"> 
      <ng-container >
        <div class="col-8">
          <table-component [RESULTS]="Simulations"></table-component>
        </div>
        <div class="col-4">
          <app-menu-form [Layouts]="Layouts" [Rulesets]="Rulesets" (userSelections)="userSelection($event)" class="sticky-top"></app-menu-form>
        </div>
      </ng-container>
    </div>
  </div>
</main>